<h1>Flüge suchen!</h1>

<form #f="ngForm">
    <div class="form-group">
        <label>Von</label>
        <input 
            ngControl="von"
            [(ngModel)]="von" 
            class="form-control"
            ort
            ortAsync
            required
            minlength="3"
            maxlength="30">
            
            
        <div *ngIf="!f?.controls?.von?.valid && !f?.controls?.von?.pending">
            Fehler beim Validieren des Formulares!
        </div>    
        
        <div *ngIf="f?.controls?.von?.hasError('required')">
            Feld ist doch ein Pflichtfeld!
        </div>    

        <div *ngIf="f?.controls?.von?.hasError('minlength')">
            Feld muss doch min. 3 Zeichen haben
        </div>    

        <div *ngIf="f?.controls?.von?.hasError('ort')">
            Ort wird doch nicht angeflogen!
        </div>    

        <div *ngIf="f?.controls?.von?.hasError('ortAsync')">
            Es gibt derzeit keine verfügbaren Plätze!
        </div>    
 
         <div *ngIf="f?.controls?.von?.pending">
            <marquee>
                Validator wird ausgeführt!
            </marquee>
        </div>  
    </div>
    
    

    <div class="form-group">
        <label>Nach</label>
        <input [(ngModel)]="nach" class="form-control">
    </div>

    <div class="form-group">
        <button (click)="suchen()" class="btn btn-default">Suchen!</button>
    </div>
</form>

<div *ngFor="#flug of fluege" class="col-sm-4">
    
    <flug-card
        [item]="flug"
        [(selectedItem)]="selectedFlug">
    
        <a class="btn btn-default" [routerLink]="['/FlugEdit', {id: flug.id }]">Editieren</a>
    
    </flug-card>
    
    
    
</div>

<pre>
    {{ selectedFlug | json }}
</pre>

<!--
<table class="table table-striped" [hidden]="fluege?.length == 0">
    
    <tr *ngFor="#flug of fluege" [class.active]="flug == selectedFlug">
        <td>{{flug.id}}</td>
        <td>{{flug.abflugort | ort:'short' | uppercase }}</td>
        <td>{{flug.zielort | ort:'long' | uppercase }}</td>
        <td>{{flug.datum.substr(0,10)}}</td>
        <td><a (click)="select(flug)">Auswählen</a></td>
    </tr>
    
</table>    
-->