<h1>{{ info }}</h1>

<form *ngIf="flug">
    
    <div *ngIf="message" style="color: red">
        {{message}}
    </div>
    
    <div class="form-group">
        <label>Id:</label>
        <input [(ngModel)]="flug.id" class="form-control">
    </div>
            
    <div class="form-group">
        <label>Abflugort:</label>
        <input [(ngModel)]="flug.abflugort" class="form-control">
    </div>

    <div class="form-group">
        <label>Zielort:</label>
        <input [(ngModel)]="flug.zielort" class="form-control">
    </div>

    <div class="form-group">
        <label>Datum:</label>
        <input [(ngModel)]="flug.datum" class="form-control">
    </div>

    <div class="form-group">
        <button (click)="save()" class="btn btn-default">Speichern!</button>
    </div>
    
</form>    