<h1>Flüge suchen (Imp.)!</h1>

<form [ngFormModel]="filter">
    
    <div class="form-group">
        <label>Von</label>
        <input 
            ngControl="von"
            class="form-control">
            
        <div *ngIf="!filter.controls.von.valid && !filter.controls.von.pending">
            Fehler beim Validieren des Formulares!
        </div>    
        
        <div *ngIf="filter.controls.von.hasError('required')">
            Feld ist doch ein Pflichtfeld!
        </div>    

        <div *ngIf="filter.controls.von.hasError('minlength')">
            Feld muss doch min. 3 Zeichen haben
        </div>    

        <div *ngIf="filter.controls.von.hasError('maxlength')">
            Feld darf doch max. 30 Zeichen haben
        </div>    

        <div *ngIf="filter.controls.von.hasError('ort')">
            Dieser Ort wird doch nicht angeflogen!
        </div>    

        <div *ngIf="filter.controls.von.hasError('ortAsync')">
            Für diesen Ort sind derzeit keine Flüge frei!
        </div>    

        <div *ngIf="filter.controls.von.pending">
            <marquee>
                <blink>
                    Validierung wird ausgeführt!
                </blink>
            </marquee>
        </div>    


    </div>
    
    

    <div class="form-group">
        <label>Nach</label>
        <input ngControl="nach" class="form-control">
    </div>

    <div class="form-group">
        <button (click)="suchen()" class="btn btn-default">Suchen!</button>
    </div>
</form>

<div *ngFor="#flug of fluege" class="col-sm-4">
    
    <flug-card
        [item]="flug"
        [(selectedItem)]="selectedFlug">
    </flug-card>
    
</div>

<pre>
    {{ selectedFlug | json }}
</pre>

<!--
<table class="table table-striped" [hidden]="fluege?.length == 0">
    
    <tr *ngFor="#flug of fluege" [class.active]="flug == selectedFlug">
        <td>{{flug.id}}</td>
        <td>{{flug.abflugort | ort:'short' | uppercase }}</td>
        <td>{{flug.zielort | ort:'long' | uppercase }}</td>
        <td>{{flug.datum.substr(0,10)}}</td>
        <td><a (click)="select(flug)">Auswählen</a></td>
    </tr>
    
</table>    
-->